.DS_Store
node_modules/*
*node_modules/*
uploads/*
temp/*
/.idea
*/.idea
/.vscode
*/.vscode
/.history
/config/env/*.env
/config/env/.env
*/package-lock.json
!/uploads/.gitkeep
!/temp/.gitkeep
/temp
/uploads
*package-lock.json
*nodemon.json
*.bak
*/.bak
node_modules
